:root {
    /* Fonts */
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    /* Text colors */
    --main-txt-cl: #212121;
    --dark-txt-cl: #757575;
    --ligh-txt-cl: #ffffff;
    --ligt-txt-cl-60: rgba(255, 255, 255, 0.6);
    --accent-txt-cl: #2196f3;
    /* Background colors*/
    --main-bg-cl: #ffffff;
    --dark-bg-cl: #2f303a;
    --ligt-bg-cl: #f5f4fa;
    --accent-bg-cl: #2196f3;
    /* icons colors */
    --icons-bg-dark-cl: rgba(255, 255, 255, 0.1);
    --icons-cl: #afb1b8;

    /* Others */
    --border-cl: #ececec;
    --border-card-cl: #eeeeee;
    --items: 3;
    --indent: 30px;
}