.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__title {
  font-weight: 700;
     font-size: 28px;
    line-height: calc(32 / 28);
  text-align: center;
  letter-spacing: 0.03em;
  @media screen and (min-width:1200px) {
    
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}
.clients__list {
  margin-top: 30px;
  --items: 2;

  @media screen and ( min-width:768px) {
    --items: 3;
  }

  @media screen and ( min-width:1200px) {
    margin-top: 50px;
    --items: 6;
  }
}
.clients__item {
  height: 92px;
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icons-cl);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  fill: var(--icons-cl);
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-bg-cl);
    border-color: var(--accent-bg-cl);
  }
}
