.contacts {
  display: flex;
  gap: 50px;
}
.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--dark-txt-cl);
  fill: var(--icons-cl);
  display: flex;
  align-items: center;
  gap: 10px;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-txt-cl);
        fill: var(--accent-bg-cl);
}
}

