.footer {
  background-color: var(--dark-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__group {
  display: block;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer__only-tablet-group{
   @media screen and (min-width: 768px) {
   display: flex;
   align-items: baseline;
  }
}
.footer__contacts {
  text-align: center;
  @media screen and (min-width: 768px) {
   margin-left: 61px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-right: 70px;

  }
}
.footer__social {
  width: 206px;
  margin: 60px auto 0 auto;
  
  text-align: center;
  @media screen and (min-width: 768px) {
    margin: 0 74px 0 auto;
    
  }
  @media screen and (min-width: 1200px) {
    margin-right:0;

  }
}
.footer__text {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--ligh-txt-cl);
}
