.footer {
  background-color: var(--dark-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__group {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  @media screen and (min-width:1200px) {
    flex-wrap: nowrap;
  }
 
}
.footer__contacts{
  margin-left: 76px;
  @media screen and (min-width:1200px) {
    margin-left: 0;
  margin-right: 70px;
  }
}
.footer__social{
  margin-left: 165px;
  @media screen and (min-width:1200px) {
    margin-left: 0;
  }
  

}
.footer__text {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--ligh-txt-cl);
}